llvm
**/bin
**/build
**/transcript.log
**/*.prj
.vscode/settings.json
**/__pycache__/**
**/sim_results/**
**/simulation_raw.json
**/*.bc*
**/*.tmp*
**/compile_flags.txt
**/dot_prepare_ir.sh
**/to_ast.sh
**/.plot_style.txt
**/*_dynamic*.cpp
**/*_workdir

#
#
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
